{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vumbora/css/avaliacao.css' %}"/>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
</head>


<div class = "box">
    <div class = "tittle"><p>Avaliações</p></div>
</div>


<body>
 
    <div class = "out-comment">
        <div class = "in-comment">
            <form  method="POST">
                {% csrf_token %}
                <label>comentario</label>
                {{form.comentario}}
            <button type = "submit" class = "button">Enviar</button>
                
            </form>
        </div>
    </div>

  

    
 
    {% for avaliacao in avaliacoes %}
    <div class = "row">
        <div class="stars">
        </div>
        <div class ="user">
            <img src="" alt="">
        </div>
        <div class = "outter">
            <div class = "inner">
                <div class = "text">
                    <p>{{avaliacao.comentario}}</p>
                </div>
            </div>
        </div>
        
    </div>
{% endfor %}    

    

    
</body>

</html>




 
