{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vumbora/css/avaliacao.css' %}" />

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'vumbora/js/avaliacao.js' %}" defer></script>
    <script src="{%static 'vumbora/js/comentario.js' %}" defer datanota="{{avaliacao.nota}}"></script>
    </script>
</head>




<body data-url="{% url 'vumbora:avaliacao' evento.id %}">
    {% include 'vumbora/header.html' %}
    <h1 id="nome-evento">
        {{ evento.nome }}
    </h1>
    <div class="menu-op">
        <div id="tittle">
            <p>Avaliações</p>
        </div>
    </div>
    <div class="form-avaliar">
        <form id="f-avaliar" method="POST">
            {% csrf_token %}
            <button type="submit" class="fa fa-star fa-2x my-btn " id="first"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn " id="second"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn " id="third"></button>
            <button type="submit" class="fa fa-star fa-2x my-btn " id="fourth"></button>
            <button class="fa fa-star fa-2x my-btn " id="fifth"></button>
            <div id="form-comentario">
                {{form.comentario}}
                <button type = "button" class="button-send" id ="button-enviar">Enviar comentário</button>
            </div>
            
        </form>
    </div>




    {% comment %} Exibição dos comentários {% endcomment %}
    {% for avaliacao in avaliacoes %}
    <div class="coment-section" data-nota="{{avaliacao.nota}}">
        <div id="estrelas-nota">
            <span type="submit" class="fa fa-star fa-2x nota-btn " id="um_{{avaliacao.id}}"></span>
            <span type="submit" class="fa fa-star fa-2x nota-btn " id="dois_{{avaliacao.id}}"></span>
            <span type="submit" class="fa fa-star fa-2x nota-btn " id="tres_{{avaliacao.id}}"></span>
            <span type="submit" class="fa fa-star fa-2x nota-btn " id="quatro_{{avaliacao.id}}"></span>
            <span type="submit" class="fa fa-star fa-2x nota-btn " id="cinco_{{avaliacao.id}}"></span>
        </div>
        <div id = "caixa-texto">
            <div id="coment-text">
                {% if avaliacao.comentario is null %}
                    <p>Avaliação sem comentário</p>
                {% else %}    
                    <p>{{avaliacao.comentario}}</p>
                {% endif %} 
            </div>
        </div>
    </div>

    {% endfor %}




</body>

</html>