<title>Descrição</title>
<h1>
    {{ evento.nome }}
    
</h1>
{% load static%}
        <div class="info">
            <p>
                <strong>Descrição:</strong> {{ evento.descricao }}
            </p>
            <p>
                <strong>Local:</strong> {{ evento.local }}
            </p>
            <p>
                <strong>Data:</strong> {{ evento.datahora }}
            </p>
            <p>
                <strong>Preço:</strong> R${{ evento.valor }}
            </p>
            <p> {{evento.usuario}}</p>
            
        </div> 

        <div>
            <ul>
                <li>
                <a href="{% url 'vumbora:avaliacao' evento.id %}"> Avaliações</a>
                </li>
            </ul>
        </div>