{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vumbora/css/eventos_semana.css' %}">
    <title>Eventos Semana</title>
</head>
<body>

    <div class="events-container-duplicate">
        {% for eventos_semana in eventos_semana %}
            <div class="event-item-duplicate">
                {% if eventos_semana.arte %}
                    <img class="arte" src="{{ eventos_semana.arte.url }}" alt=""><br>
                {% endif %}
                <strong>Nome:</strong> {{ eventos_semana.nome }}<br>
                <strong>Descrição:</strong> {{ eventos_semana.descricao }}<br>
                <strong>Horário:</strong> {{ eventos_semana.datahora }}<br>
                <strong>Valor:</strong> {{ eventos_semana.valor }}<br>
                <strong>Local:</strong> {{ eventos_semana.local }}<br>
                <strong>Usuário:</strong> {{ eventos_semana.usuario }}<br>
            </div>
        {% endfor %}
    </div>

</body>
</html>