{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vumbora/css/eventos_semana.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Eventos Semana</title>
</head>
<body>
    <header>
        <div class = "container" style="display: flex;" >
            <h1> VUMBORA? </h1>
            <div id="pesquisa-barra-de-navegação">
                <form action="#">
                <input type="text" name="search" placeholder="Busque eventos...">
                <button type="submit"></button>
                </form>
            </div>
            <div id="filtro-localização-barra">
                <button>Localização</button>
            </div>
            <div id="Meus-eventos-barra">
                <button>Meus Eventos</button>
            </div>
            <div id="Login-barra">
                <button>Login</button>
            </div>
            <div id="opções-barra">
                <button></button>
            </div>
        </div>
    </header>
    <div class="filtragem">

        <h2> Eventos Encontrados </h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>

    <div class="events-container-duplicate">
        {% for eventos_semana in eventos_semana %}
            <div class="event-item-duplicate">
                {% if eventos_semana.arte %}
                    <img class="arte" src="{{ eventos_semana.arte.url }}" alt=""><br>
                {% endif %}
                <strong>Nome:</strong> {{ eventos_semana.nome }}<br>
                <strong>Horário:</strong> {{ eventos_semana.datahora }}<br>
                <a href="{% url 'vumbora:details' eventos_semana.id %}"> Ver mais</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>