<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da sua pesquisa</title>
</head>

<style>
    /* Adicione estilos conforme necessário */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
        margin: 20px;
    }

    h1 {
        color: #007BFF;
    }

    form {
        margin-bottom: 20px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    h2 {
        color: #007BFF;
    }
</style>

<h1>Resultados da Pesquisa</h1>

<form method="post" action="{% url 'pesquisar_eventos' %}">
    {{ form.as_p }}
    {% csrf_token %}

    <button type="submit">Pesquisar</button>
</form>

{% for evento in eventos %}
    <h2>{{ evento.nome }}</h2>
    <!-- <p>{{ evento.descricao }} - {{ evento.local.nome }}</p> -->
{% endfor %}

</body>
</html>
