.all {
    display: grid;
    gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
}

.artista {
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.card {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 320px;
    margin: 10px;
    width: 310px;
}

.card img {
    border: 0;
    border-radius: 6px 6px 0 0;
    height: 20vh;
    padding-bottom: 2px;
    width: 100%;
}

.content {
    display: flex;
    margin-top: 10px;
}

.data {
    font-family: 'DM Sans', sans-serif;
    position: relative;
    right: 70px;
}

.descricao {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    word-wrap: break-word;
}

.informacoes {
    color: gray;
    font-family: 'DM Sans', sans-serif;
    font-size: small;
    justify-content: center;
}

.local-horario {
    display: flex;
    justify-content: center;
}

.pag-titulo {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.titulo {
    font-family: 'DM Sans', sans-serif, bold;
    font-size: 20px;
    font-style: bold;
    position: relative;
    right: 20px;
}

.ver-mais {
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-style: bold;
    height: 46px;
    justify-content: center;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    width: 120px;
}

.ver-mais:hover {
    background-color: orange;
    color: white;
}

@media (max-width: 1200px) {
    .artista {
        position: relative;
        bottom: 10px;
    }

    .card img {
        height: 25vh;
        width: 100%;
    }

    .lista-eventos-pai {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .local-horario {
        padding-top: 5px;
    }

    .ver-mais {
        margin-top: 12px;
    }
}

@media (max-width: 900px) {
    .artista {
        position: relative;
        bottom: 10px;
    }

    .card img {
        height: 25vh;
        width: 100%;
    }

    .lista-eventos-pai {
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .local-horario {
        padding-top: 5px;
    }

    .ver-mais {
        margin-top: 12px;
    }
}

@media (max-width: 620px) {
    .artista {
        position: relative;
        bottom: 10px;
    }

    .card img {
        height: 25vh;
        width: 100%;
    }

    .lista-eventos-pai {
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 25%;
    }

    .local-data {
        padding-top: 10px;
    }

    .titulo {
        margin-top: 10px;
    }

    .ver-mais {
        margin-top: 12px;
    }
}
